#about {
  padding: 80px 0;
  color: white;
}

.about-section{
  margin: 10px 150px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border: 3px solid #fff;
  /* border-radius: 15px; */
}

.about-col-2 {
  flex-basis: 60%;
}

.about-subtitle {
  font-size: 36px; 
  font-weight: 600;
  color: white;
}

.about-para{
  font-size: medium;
  font-weight: 300;
  text-align: left;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  color: #fff;
  transition: color 0.3s ease; 
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #007BFF;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #007BFF;
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}
