#hero {
    text-align: center;
    height: calc(100vh - 5rem);
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.profile {
    position: absolute;
    top: 0rem;
    right: 0;
    object-fit: cover;
    z-index: -1;
    margin-top: 35px;
    height: 90%;
    width: 30%;
    overflow: hidden;
    margin-right: 165px;
    border: 3px solid #fff;
}

.hello {
    font-size: 1.5rem;
    font-weight: 100;
}

.introContent {
height: 100vh;
width: 100vw;
margin-left: 160px;
font-size: 3rem;
font-weight: 700;
display: flex;
flex-direction: column;
justify-content: center;
text-align: left;
}

.introName {
    font-size: 3rem;
    color: #007BFF;
    font-weight: bold;
    text-align: left;
}

.introPara {
    font-size: medium;
    font-weight: 300;
    text-align: left;
}

.introTxt {
    font-size: 3rem;
    font-weight: 500;
    text-align: left;
}


.btn {
    background: transparent;
    margin-top: 1rem;
    padding: 0.75rem 5rem;
    border-radius: 6px;
    border: 2px solid #007BFF;
    color: #007BFF;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #007BFF;
    color: white;
}

/* 
.hero-socials {
    margin-top: 40px;
    text-align: left;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);

}

.hero-social {
    margin-bottom: 10px;
}

.hero-social-icon {
    width: 35px;
    transition: transform 0.2s ease-in-out;
}

.hero-social-icon:hover {
    transform: scale(1.5);
    cursor: pointer;
} */