#projects {
  padding: 50px 0;
}

.project-section {
  margin: 10px 150px;
}

.project-subtitle {
  font-size: 36px; 
  font-weight: 600;
  margin-left: 20px;
  color: white;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  /* width: 100%; */
  width: 90%;
  display: block;
  border-radius: 10px;
  transition: transform 0.5s;
  margin-left: 20px;
}

.layer {
  width: 90%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.8), #007BFF);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  margin-left: 20px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: #007BFF;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  border-radius: 10px;
}

.work:hover .layer {
  height: 100%;
}

.work-btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 2px solid #007BFF;
  padding: 0.75rem 5rem;
  border-radius: 6px;
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.5s;
}

.work-btn:hover {
  background-color: #007BFF;
  color: white;
}



