#services {
  padding: 30px 0;
}

.service-section {
  margin: 10px 150px;
}

.service-title {
  font-size: 36px;
  font-weight: 600;
  color: white;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 15px;
  font-weight: 300;
  border-radius: 10px;
  transition: background-color 0.5s, transform 0.5s; 
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 32px; 
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover {
  background-color: #007BFF;
  transform: translateX(-10px); 
}
